.list {
    padding-left: 0px;
    margin: 0 auto;
    width: 303px;
}

.btnAdd {
    width: 54px;
    height: 54px;
    background-color: #f3713f;
    border: none;
    border-radius: 50% 50% 50% 50%;
    position: fixed;
    bottom: 25px;
    transform: translateX(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    z-index: 2;
}

.emptyTransactionsList {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #7e8c9e;
    border-radius: 5px 5px 5px 5px;
}

.emptyTransactionsListText {
    color: #7e8c9e;
    font-weight: 15px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .list {
        width: 705px;
        border-collapse: separate;
        border-spacing: 0px;
        margin-bottom: 100px;
    }

    .raw td {
        padding-left: 23px;
    }

    .raw {
        text-align: start;
        height: 73px;
    }

    .raw .amount,
    .balance {
        text-align: end;
        padding-right: 23px;
    }

    .tbody tr:nth-child(even) {
        background-color: #f3f6f6;
    }

    .btnAdd {
        right: 0px;
    } 
    .emptyTransactionsList {
        margin-top: 35px;
        margin-bottom: 100px;
        width: 250px;
    }
    .emptyTransactionsListText {
       font-size: 20px;
    }

}

@media screen and (min-width: 1280px) {
    .list {
        width: 856px;
        margin-bottom: 10px;
        position: relative;
        left: 5px;
    }

    .raw {
        background-color: #ffffff;
    }

    .emptyTransactionsList {
        margin-top: 45px;
        width: 620px;
        position: relative;
        left: -432px;
        top: -45px;
    }

    .emptyTransactionsListText {
       font-size: 25px;
       
    }


}