.list {
    padding-left: 0px;
    margin: 0 auto;
    width: 303px;
}

.btnAdd {
    width: 54px;
    height: 54px;
    background-color: #f3713f;
    border: none;
    border-radius: 50% 50% 50% 50%;
    position: fixed;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
}

@media screen and (min-width: 768px) {
    .list {
        width: 705px;
        border-collapse: separate;
        border-spacing: 0px;
        margin-bottom: 240px;
    }

    .raw td {
        padding-left: 23px;
    }

    .raw {
        text-align: start;
        height: 73px;
    }

    .raw .amount,
    .balance {
        text-align: end;
        padding-right: 23px;
    }

    .tbody tr:nth-child(even) {
        background-color: #f3f6f6;
    }

    .btnAdd {
        right: 0px;
    }

}

@media screen and (min-width: 1280px) {
    .list {
        width: 856px;
        margin-bottom: 10px;
        position: relative;
        left: 0px;
    }
    .raw {
       background-color: #ffffff;
    }

}