.box {
    width: 281px;
    margin: 0 auto;
    height: 488px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    height: 488px;
}

.formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 210px;
}

.formBox input, .formBox textarea, .formBox select {
    outline: none;
}

.labelBox {
    width: 50%;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputNumber,
.inputDate {
    width: 130px;
    height: 34px;
    border: 2px solid #b9c9d4;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 25px;
}

.inputCategory {
    width: 281px;
    height: 34px;
    border: 2px solid #b9c9d4;
    border-radius: 5px 5px 5px 5px;
}

.commentNote {
    text-align: left;
    margin-bottom: 15px;
}

.textarea {
    width: 281px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #b9c9d4;
    resize: none;
    height: 54px;
}

.button {
    width: 281px;
    height: 40px;
    margin: 0 auto;
    background-color: #fc842c;
    border-radius: 5px 5px 5px 5px;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}


.btnBox {
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.inputRadio {
    height: 34px;
}

.categoryBox {
    height: 67px;
}

@media screen and (min-width: 768px) {
    .modal {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #00000071;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .container {
        width: 500px;
        height: 478px;
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .form {
        height: 340px;
    }

    .formBox {
        margin-bottom: 33px;
    }
    .button {
        background-color: #415b7d;
    }

    .button:hover {
        background-color: #fc842c;
    }
}

@media screen and (min-width: 1280px) {
    .form {
        height: 404px;
    }
}