.CurrencyTable_form {
  display: flex;
  margin: 0 auto;
  height: 380px;
  width: 311px;
  background-image: url('./images/Ractangle.png');
  background-position-x: 36%;
  background-position-y: 20%;
}

.CurrencyTable_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: #2c353e;
}

.CurrencyTable_name {
  height: 64px;
  text-transform: uppercase;
  background-color: #f8fbfe;
  font-size: 15px;
}

.CurrencyTable_name > th:first-child {
  padding-left: 16px;
}

.CurrencyTable_row {
  height: 40px;
  border-bottom: 1px solid #f8fbfe;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .CurrencyTable_form {
    height: 100vh;
    background-image: none;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .CurrencyTable_form {
    height: 190px;
    width: 353px;
    background-image: none;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .CurrencyTable_container {
    width: 705px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .CurrencyTable_container {
    width: 309px;
    position: absolute;
    top: 295px;
  }

  .CurrencyTable_form {
    left: 0px;
  }
}
