.wrapper {
  margin: 0, auto;
  text-align: center;
  padding-bottom: 45px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .profileWrapper {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .wrapperPage {
    margin: 0 auto;
  }
  .wrapper {
    padding-bottom: 0px;
  }
  
  body {
    background-color: #fbfafd;
  }
}

@media screen and (min-width: 1280px) {
  .profileWrapper {
    display: flex;
    width: 1192px;
    margin: 0 auto;
    position: relative;
  }


  body {
    background-color: #ebefef;
  }

  .wrapperPage {
    width: 1192px;
    position: relative;
  }
}