.loginForm_container {
  display: flex;
}

.loginForm_ImgBGWrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./images/Rectangle.png");
  background-size: cover;
}

.loginForm_imgWrapper {
  text-align: center;
  width: 290px;
  height: 590px;
}

.loginForm_img {
  margin-bottom: 40px;
}

.loginForm_name {
  font-size: 24px;
  color: #ffff;
}

.loginForm_formWrapper {
  display: flex;
  flex-grow: 1;
  flex: 35%;
  align-items: center;
  justify-content: center;
}

.loginForm_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 554px;
  height: 390px;
}

.loginForm_form {
  box-sizing: border-box;
  width: 553px;
  height: 391px;
  padding: 40px;
  box-shadow: 10px 17.321px 40px 0px rgba(112, 124, 130, 0.3);
}

.loginForm_logo {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-bottom: 32px;
}

.loginForm_svg {
  width: 29px;
  height: 29px;
  margin-right: 14px;
}

.loginForm_EmailInput {
  width: 432px;
  height: 46px;
  border: 0;
  margin-bottom: 16px;
  border-radius: 5px;
  outline: none;
  background: url("./images/svg/baseline-email-24px.svg") no-repeat;

  padding-left: 60px;
  background-color: #f9fbfb;
  background-position-x: 15px;
  background-position-y: 12px;
  font-size: 16px;
}

.loginForm_EmailInput::placeholder {
  color: #dbe1e6;
}

.loginForm_passwordInput {
  width: 432px;
  height: 46px;
  border: 0;
  margin-bottom: 36px;
  border-radius: 5px;
  outline: none;
  background: url("./images/svg/baseline-lock-24px.svg") no-repeat;
  padding-left: 60px;
  background-color: #f9fbfb;
  background-position-x: 15px;
  background-position-y: 12px;
  font-size: 16px;
}

.loginForm_passwordInput::placeholder {
  color: #dbe1e6;
}

.loginForm_button {
  width: 281px;
  height: 39px;
  color: #ffff;
  font-size: 16px;
  border: none;
  background-color: #e18337;
  box-shadow: 0px 3px 3px 0px rgba(225, 131, 55, 0.25);
  margin-bottom: 32px;
  border-radius: 5px;
}

.loginForm_button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.loginForm_linkSignUp {
  color: #707c82;
}

@media screen and (max-width: 320px) {
  .loginForm_ImgBGWrapper {
    display: none;
  }

  .loginForm_form {
    height: 568px;
    width: 320px;
  }

  .loginForm_EmailInput {
    width: 220px;
    height: 40px;
  }

  .loginForm_passwordInput {
    width: 220px;
    height: 40px;
  }

  .loginForm_logo {
    display: flex;
    flex-direction: column;
  }

  .loginForm_svg {
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .loginForm_button {
    width: 240px;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .loginForm_container {
    background: url("./images/Rectangle.png") no-repeat;
    background-size: cover;
    width: 1024px;
    height: 768px;
  }

  .loginForm_ImgBGWrapper {
    display: none;
  }

  .loginForm_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 557px;
    height: 392px;
    background-color: #dbe1e6;
  }
}
