.wrapper {
  margin: 0, auto;
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .wrapperPage {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .profileWrapper {
    display: flex;
    width: 1192px;
    margin: 0 auto;
    position: relative;
  }
  body {
    background-color: #eef4ec;
  }
  .wrapperPage {
    width: 1192px;
    position: relative;
  }
}