.registerForm_container {
  display: flex;
}

.registerForm_ImgBGWrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./images/Rectangle_2.png');
  background-size: cover;
}

.registerForm_imgWrapper {
  text-align: center;
  width: 290px;
  height: 590px;
}

.registerForm_name {
  font-size: 24px;
  color: #ffff;
}

.registerForm_formWrapper {
  display: flex;
  flex-grow: 1;
  flex: 35%;
  align-items: center;
  justify-content: center;
}

.registerForm_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm_form {
  position: relative;
  box-sizing: border-box;
  width: 553px;
  height: 538px;
  padding: 40px;
  box-shadow: 10px 17.321px 40px 0px rgba(112, 124, 130, 0.3);
}

.registerForm_logo {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-bottom: 32px;
}

.registerForm_svg {
  width: 29px;
  height: 29px;
  margin-right: 14px;
}

.registerForm_EmailInput {
  width: 80%;
  height: 46px;
  border: 0;
  margin-bottom: 26px;
  border-radius: 5px;
  outline: none;
  background: url('./images/svg/baseline-email-24px.svg') no-repeat;
  padding-left: 60px;
  background-color: #f9fbfb;
  background-position-x: 15px;
  background-position-y: 12px;
  font-size: 16px;
}

.registerForm_EmailInput::placeholder {
  color: #dbe1e6;
}

.registerForm_passwordInput {
  width: 80%;
  height: 46px;
  border: 0;
  margin-bottom: 26px;
  border-radius: 5px;
  outline: none;
  background: url('./images/svg/baseline-lock-24px.svg') no-repeat;
  padding-left: 60px;
  background-color: #f9fbfb;
  background-position-x: 15px;
  background-position-y: 12px;
  font-size: 16px;
}

.registerForm_passwordInput::placeholder {
  color: #dbe1e6;
}

.registerForm_nameInput {
  width: 80%;
  height: 46px;
  border: 0;
  margin-bottom: 30px;
  border-radius: 5px;
  outline: none;
  background: url('./images/svg/baseline-account_box-24px.svg') no-repeat;
  padding-left: 60px;
  background-color: #f9fbfb;
  background-position-x: 15px;
  background-position-y: 12px;
  font-size: 16px;
}

.registerForm_nameInput::placeholder {
  color: #dbe1e6;
}

.registerForm_button {
  width: 281px;
  height: 39px;
  color: #ffff;
  font-size: 16px;
  border: none;
  background-color: #e18337;
  box-shadow: 0px 3px 3px 0px rgba(225, 131, 55, 0.25);
  margin-bottom: 32px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.registerForm_button:hover {
  opacity: 0.9;
}

.registerForm_linkSignUp {
  color: #707c82;
  outline: none;
  cursor: pointer;
}

.loginForm_passwordBarProgress {
  display: block;
  position: relative;
  top: -7px;
  width: 92%;
  height: 5px;
  background-color: #d68b4d;
  border-radius: 4px;
}

.formRegister_ErrorStringEmail,
.formRegister_ErrorStringPassword,
.formRegister_ErrorStringConfirm,
.formRegister_ErrorStringName {
  position: absolute;
  margin: 0;
  font-size: 11px;
  color: red;
}

.formRegister_ErrorStringEmail {
  top: 155px;
}

.formRegister_ErrorStringPassword {
  top: 231px;
}

.formRegister_ErrorStringConfirm {
  top: 302px;
}
.formRegister_ErrorStringName {
  top: 379px;
}

.registerForm_button:disabled {
  background-color: rgb(219, 191, 168);
}

@media screen and (max-width: 767px) {
  .registerForm_ImgBGWrapper {
    display: none;
  }

  .registerForm_form {
    min-width: 320px;
    max-width: 767px;
    min-height: 568px;
    box-shadow: none;
  }

  .registerForm_EmailInput {
    width: 65%;
    height: 40px;
  }

  .registerForm_passwordInput {
    width: 65%;
    height: 40px;
  }

  .registerForm_nameInput {
    width: 65%;
    height: 40px;
  }

  .loginForm_passwordBarProgress {
    width: 74%;
  }

  .registerForm_logo {
    display: flex;
    flex-direction: column;
  }

  .registerForm_svg {
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .registerForm_button {
    width: 240px;
  }

  .formRegister_ErrorStringEmail {
    top: 197px;
  }

  .formRegister_ErrorStringPassword {
    top: 265px;
  }
  .formRegister_ErrorStringConfirm {
    top: 325px;
  }
  .formRegister_ErrorStringName {
    top: 404px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .registerForm_container {
    background: url('./images/Rectangle_2.png') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .registerForm_ImgBGWrapper {
    display: none;
  }

  .registerForm_form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
  }
}
